main {
    margin: 1rem 2rem;
    line-height: 1.3rem;
    width: calc(100vw - 4rem);

}

h2 {
    text-align: center;
}

main img {
    margin-bottom: 1rem;
}

main p {
    margin: 1rem 0;
}

.float-left, .float-right {
    display: block;
    margin: 1rem auto;
}

main img {
    width: 100%;
    object-fit: contain;
    background-color: var(--color-dsa-black);
    border-radius: 0.5ch; 
}

@media screen and (min-width: 560px) {
    main {
        margin: 1rem auto;
    }

    main p {
        /* width: 45ch; */
        margin: 1rem auto;
    }

    .float-left {
        float: inline-start;
        margin-inline-end: 1rem; 
        clear: inline-start;
    }

    .float-right {
        float: inline-end;
        margin-inline-start: 1rem; 
        clear: inline-end;
    }

    main img {
        width: initial;
        object-fit: contain;
        background-color: var(--color-dsa-black);   
        border-radius: 2%; 
    }

    .block {
        width: 100%;
        object-fit: contain;
        background-color: var(--color-dsa-black);
        border-radius: 0.5ch; 
    }
}

@media screen and (min-width: 780px) {
    main p {
        width: 75ch;
    }
}