main {
    margin: 1rem 2rem;
    line-height: 1.3rem;
    overflow: hidden;
}

h2 {
    text-align: center;
}

main img {
    /* height: 100%;
    width: 100%; */
    margin-bottom: 1rem;
}

main p {
    margin: 1rem 0;
}

.float-left, .float-right {
    display: block;
    margin: 1rem auto;
}

main img {
    width: 100%;
    object-fit: contain;
    background-color: var(--color-dsa-black);
    border-radius: 0.5ch; 
}

@media screen and (min-width: 460px) {
    main {
        width: 45ch;
        margin: 1rem auto;
    }

    .float-left {
        float: inline-start;
        margin-inline-end: 1rem; 
        clear: both;
    }

    .float-right {
        float: inline-end;
        margin-inline-start: 1rem; 
        clear: both;
    }

    main img {
        width: initial;
        object-fit: contain;
        background-color: var(--color-dsa-black);   
        border-radius: 2%; 
    }
}

@media screen and (min-width: 780px) {
    main {
        width: 75ch;
        margin: 1rem auto;
    }
}

@media screen and (min-width: 1200px) {
    main {
        width: 75ch;
        margin: 1rem auto;
    }
}