main {
    margin: 1rem 2rem;
    line-height: 1.3rem;
    width: calc(100vw - 4rem);

}

h2 {
    text-align: center;
}

main img {
    margin-bottom: 1rem;
}

main p {
    margin: 1rem 0;
    overflow: hidden;
}

.float-left, .float-right {
    margin: 1rem auto;
    margin-top: 0;
}

main img {
    max-width: 100%;
    height: auto;
    object-fit: fit-content;
    background-color: var(--color-dsa-black);
    border-radius: 0.5ch; 
    display: block;
    margin: 1rem auto;
}

code, pre {
    background: var(--color-dsa-black);
    color: var(--color-dsa-red);
    font-size: 16px;        
    padding: 10px;
    display: block;
}

pre {
    padding: 16px;
    border-radius: 1ch;    
    padding: 16px 0;
    overflow: scroll;
    clear: both;
}

@media screen and (min-width: 560px) {
    main {
        margin: 1rem auto;
    }

    main p {
        /* width: 45ch; */
        margin: 1rem auto;
    }

    .float-left {
        float: inline-start;
        margin-inline-end: 1rem; 
        clear: inline-start;
        width: revert-layer;
    }

    .float-right {
        float: inline-end;
        margin-inline-start: 1rem; 
        clear: inline-end;
        width: revert-layer;
    }

    main img {
        width: initial;
        object-fit: contain;
        background-color: var(--color-dsa-black);   
        border-radius: 2%; 
    }

    .block {
        width: 100%;
        object-fit: contain;
        background-color: var(--color-dsa-black);
        border-radius: 0.5ch; 
    }
}

@media screen and (min-width: 780px) {
    main {
        width: 75ch;
    }
}